.cartao img{
    display: flex;
    width: 15rem;
    height: 8rem;
    margin-top: 35px;
    margin: 0 auto;
    padding: 10px 0;
    border-radius: 20px;
}

.cartao{
    background-color: #390850;
    border-style: solid;
    border-radius: 20px;
    width: 16rem;
    height: 22rem;
    color: white;
}

.geral{
    flex-wrap: wrap;
}

.produtos{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10rem;
}

.venda{
    text-align: center;
    margin-top: 2%;
    font-size: 22px;
}

h2, h3{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    color: white;
}

.but button{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 1rem;
    background-color: #9E6D0D;
    border-radius: 15px;
    height: 2rem;
    width: 10rem;
}

.produtos{
    display: flex;
}


@Media screen and (max-width: 1440px){
    .cartao img{
        width: 12rem;
        height: 8rem;
    }
}

@Media screen and (max-width: 1024px){
    .cartao img{
        width: 9rem;
        height: 6rem;
    }
    .h3{
        font-size: 15px;
    }
    .cartao h2{
        margin-top: 8%;
    }
    .but button{
        margin-top: 1%;
        height: 2rem;
        width: 8rem;
    }
}

@Media screen and (max-width: 768px){
    .cartao{
        width: 10rem;
    }
    .but button{
        margin-top: 2rem;
    }
    .cartao h2{
        margin-top: 2rem;
    }
}

@Media screen and (max-width: 425px){
    .produtos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 10rem;
    }
    .cartao{
        margin-top: 5%;
    }
    h2{
        color: black;
    }
}

button{
    cursor: pointer;
}